[[source]]
url = "http://pypi.doubanio.com/simple"
verify_ssl = false
name = "douban"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"
celery = {version = "*", extras = ["redis"]}
user-agent = "*"
"psycopg2-binary" = "*"
alembic = "*"
pyppeteer = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-wtf = "*"
wtforms = "*"
simplejson = "*"

[dev-packages]
pre-commit = "*"
ipython = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
